@import "tailwindcss";

:root {
  /* color */
  --sbd-primary-color: #28A745;
  --sbd-secondary-color: #E6B800;
  --sbd-accent-color: #FFF2CC;
  --sbd-text-color: #1A1A1A;
  --sbd-transparent: transparent;
  --sbd-common-white: #FFFFFF;
  --sbd-common-overlay: #D9D9D9;

  /* typography */
  --sbd-fz-h1: 100px;
  /* h2 will be 60 */
  --sbd-fz-h2: 48px;
  --sbd-fz-h3: 24px;
  --sbd-fz-h4: 24px;
  --sbd-fz-body: 24px;

  --sbd-lh-h1: 110%;
  --sbd-lh-h2: 120%;
  --sbd-lh-h3: 130%;
  --sbd-lh-body: 130%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-btn {
  padding: 12px 32px;
  color: var(--sbd-common-white);
  border: 2px solid var(--sbd-primary-color);
  border-radius: 8px;
  background: var(--sbd-primary-color);

}

.primary-btn:hover {
  /* color: var(--sbd-common-white); */
  /* border: 2px solid var(--sbd-primary-color);
  background: var(--sbd-transparent); */
}

.secondary-btn {
  padding: 12px 32px;
  border-radius: 8px;
  border: 2px solid var(--sbd-primary-color);
  background: var(--sbd-transparent);

}

.secondary-btn:hover {
  border: 2px solid var(--sbd-transparent);
  color: var(--sbd-common-white);
  background: var(--sbd-primary-color);
}


body {
  font-size: var(--sbd-fz-body);
  line-height: var(--sbd-lh-body);
  color: var(--sbd-text-color);
  font-weight: 400;
}

h1 {
  font-size: var(--sbd-fz-h1);
  line-height: var(--sbd-lh-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--sbd-fz-h2);
  line-height: var(--sbd-lh-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--sbd-fz-h3);
  line-height: var(--sbd-lh-h3);
  font-weight: 600;
}

h4 {
  font-size: var(--sbd-fz-h4);
  line-height: var(--sbd-lh-h3);
  font-weight: 600;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: url('/home/hero/hero-bg.png');
  background-size: cover;
  background-position: center;
}

.custom-h3 {
  font-size: 36px;
  font-weight: bold;
}